
@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 60%;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
        height: 100%;
    }
</style>
<div class="container" align="center" style="margin-top:7%">
    <div class="card text-center">
        <div class="card-header" style="background-color:RGB(0,86,135);color:white"><br /><p><b>INICIAR SESIÓN</b></p></div>
        <div class="card-body" align="center" style="margin:25px">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group col-md-6">
                            <span class="input-group-addon" style="background-color:transparent"><i class="fa fa-user fa-fw"></i></span>
                            <input class="form-control" type="text" placeholder="Usuario" style="min-width:100%" maxlength="20" id="userName" onkeypress="return ignoreSpaces(event)" />
                        </div>
                        <label id="userNameMessage" style="color:red;display:none">El dato es requerido</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group col-md-6">
                            <span class="input-group-addon" style="background-color:transparent"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="password" placeholder="Contraseña" style="min-width:100%" maxlength="15" id="password" />
                            <span class="input-group-addon" style="background-color:transparent"><i class="fa fa-fw fa-eye field-icon toggle-password" id="togglePassword"></i></span>
                        </div>
                        <label id="passwordMessage" style="color:red;display:none">El dato es requerido</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group col-md-6">
                            <input id="btnLogin" type="button" class="btn btn-success" value="Iniciar Sesion" style="min-width:100%;background-color:RGB(43,102,154)" onclick="login();" />
                        </div>
                        <br />
                        <label id="mensajeLogin" style="display:none;"></label>
                        <div id="loading" style="display:none;">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#password").val('');
        $("#userName").val('');
    });
    function ignoreSpaces(event) {
        var character = event ? event.which : window.event.keyCode;
        if (character == 32) return false;
    }
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#password");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
    $('#userName').bind('input', function () {
        $("#userNameMessage").hide();
        ignoreSpaces();
        if ($('#userName').val().trim() == '') {
            $("#userNameMessage").show();
        }
        else {
            $("#userNameMessage").hide();
        }
    });
    $('#password').bind('input', function () {
        $("#passwordMessage").hide();
        if ($('#password').val().trim() == '') {
            $("#passwordMessage").show();
        }
        else {
            $("#passwordMessage").hide();
        }
    });

    function login() {
        $("#mensajeLogin").hide();
        var userName = $("#userName").val();
        var password = $("#password").val();
        if ($("#userName").val().trim() == '' && $("#password").val().trim() == '') {
            $("#userNameMessage").show();
            $("#passwordMessage").show();
            $("#mensajeLogin").text('Favor de capturar usuario y contraseña');
            $("#mensajeLogin").show();
            return;
        }
        if ($("#userName").val().trim() == '') {
            $("#userNameMessage").show();
            return;
        }
        else {
            $("#userNameMessage").hide();
        }
        if ($("#password").val().trim() == '') {
            $("#passwordMessage").show();
            return;
        }
        else {
            $("#passwordMessage").hide();
        }
        $("#loading").show();
        document.getElementById("btnLogin").disabled = true;
        var model = { UserName: userName, Password: password };
        $.ajax({
            type: "POST",
            url: "../Login/Login",
            contentType: "application/json",
            data: JSON.stringify(model),
            dataType: "json",
            success: function (response) {
                if (response.status == false) {
                    $("#userName").val("");
                    $("#password").val("");
                    $("#mensajeLogin").text(response.mensaje);
                    $("#mensajeLogin").show();
                    $("#loading").hide();
                    document.getElementById("btnLogin").disabled = false;
                }
                else {
                    window.location.href = response.ruta;

                }

            },
            failure: function (response) {

                alert(response);
            }
        });

    }
</script>

